@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

:root {
  --color-neutral-900: #21214d;
  --color-neutral-600: #57577b;
  --color-neutral-300: #9393b7;
  --color-neutral-200: #cbcdd0;
  --color-neutral-0: #ffffff;

  --color-blue-700: #2a4cd5;
  --color-blue-600: #4865db;
  --color-blue-200: #c7d3f7;
  --color-blue-100: #e0e6fa;

  --color-red-700: #e60013;

  --color-red-300: #ff9b99;
  --color-indigo-200: #b8b1ff;
  --color-blue-300: #89caff;
  --color-green-300: #89e780;
  --color-amber-300: #ffc97c;

  /* --transition: all 0.2s ease; */
}

@theme {
  /* --color-background1: var(--color-white);
  --color-background2: var(--color-neutral-100);

  --color-text: var(--color-neutral-900);
  --color-header: var(--color-neutral-900);
  --color-textarea: var(--color-neutral-700);
  --color-count-card: var(--color-neutral-900);

  --color-purple: var(--color-purple-400);
  --color-yellow: var(--color-yellow-500);
  --color-orange: var(--color-orange-500);
  --color-danger: var(--color-orange-800);

  --color-border-textarea: var(--color-neutral-200); */
}

.dark {
  /* --color-background1: var(--color-neutral-900);
  --color-background2: var(--color-neutral-700);

  --color-text: var(--color-neutral-200);
  --color-header: var(--color-neutral-100);
  --color-textarea: var(--color-neutral-200);

  --color-danger: var(--color-orange-500);

  --color-border-textarea: var(--color-neutral-600); */
}

body {
  font-family: "Reddit Sans", sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, #f5f5ff 72.99%, #e0e0ff 100%);
}

@layer utilities {
  .text-preset-1 {
    @apply font-bold text-[52px] leading-[1.4] tracking-[-2px];
  }

  .text-preset-1-mobile {
    @apply font-bold text-[46px] leading-[1.2] tracking-[-2px];
  }

  .text-preset-2 {
    @apply font-bold text-[40px] leading-[1.2] tracking-[-0.3px];
  }

  .text-preset-2-mobile {
    @apply font-bold text-[32px] leading-[1.2] tracking-[-0.3px];
  }

  .text-preset-3 {
    @apply font-bold text-[32px] leading-[1.4] tracking-[-0.3px];
  }

  .text-preset-3-mobile {
    @apply font-bold text-[28px] leading-[1.3] tracking-[-0.3px];
  }

  .text-preset-4 {
    @apply font-semibold text-[32px] leading-[1.4] tracking-[0px];
  }

  .text-preset-5 {
    @apply font-semibold text-[20px] leading-[1.4] tracking-[0px];
  }

  .text-preset-6 {
    @apply font-medium text-[18px] leading-[1.2] tracking-[0px];
  }

  .text-preset-6-italic {
    @apply italic font-medium text-[18px] leading-[1.2] tracking-[0px];
  }

  .text-preset-6-regular {
    @apply font-medium text-[18px] leading-[1.4] tracking-[-0.3px];
  }

  .text-preset-7 {
    @apply font-normal text-[15px] leading-[1.4] tracking-[-0.3px];
  }

  .text-preset-8 {
    @apply font-semibold text-[12px] leading-[1] tracking-[0px];
  }

  .text-preset-9 {
    @apply font-normal text-[12px] leading-[1.1] tracking-[0px];
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
